*{
    text-decoration: none;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
}
.nav {
display: flex;
justify-content: space-around;
width: 100%;
background-color: #4f5dab;
font-size: 1rem;
height: 7vh;
align-items: center;
padding-top: 20px ;
padding-bottom: 20px;
}
.nav-logo{
    margin: 1rem;
    font-size: 2rem;
    color: white;
}
.nav-item{
    color: white;
    margin: 10px;
    padding: 10px;
    font-weight: bold;

}

.nav-item:hover {
    color: red;
    transition: 1.5s;
    font-size: 20px;
}
.nav-links{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-cart {
    width: 3rem;
    height: 3rem;
    padding: 7px;
}
.nav-cart:hover{
    background-color: rgba(255, 255, 255, 0.493);
    transition: 1.5s;
    border: 5px solid transparent;
    border-radius: 25px;

}

.btn-flat {
    max-width: 200px;
    height: 80%;
    border-radius: 50px;
}

.btn-flat:hover{
    background-color: #8a8a8a;
    transition: 2s;
}

Link *{
font-weight: bold;

}

Link *:hover {
    color: red;
    transition: 1s;
}

